/* src/App.css */
:root {
  --pa-beige: #f8f1d6;
  --pa-teal: #3d7a80;
}

html, body, #root {
  height: 100%;
  margin: 0;
}

.pa-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--pa-beige);
}

.pa-main {
  flex: 1;
  display: flex;
  flex-direction: column;
}
